button {
    border-radius: 0;
    border: 0;
    background-color: $color-primary-inverse;
    font-size: $font-size-default;
    line-height: $font-line-height-default;

    &:focus,
    &:hover,
    &:active {
        outline: none;
    }
}

.btn {
    border: 1px solid transparent;
    text-decoration: none;
    display: block;
    line-height:1;
    padding: 10px;
    height: 34px;
    width: 100%;
    text-align: center;
    background-color: $color-primary-inverse;
    color: $color-primary;
    border-color: $color-primary;
    font-family: $font-sans-serif;
    font-size: $font-size-default;

    &:hover,
    &:focus,
    &:active {
        color: $color-primary;
        outline: none;
    }

    &.btn-muted,
    &.btn-disabled {
        border-color: $color-primary-muted;
        background-color: $color-primary-inverse;
        color: $color-primary-muted;
    }

    &.btn-disabled {
        cursor: default;
        pointer-events: none;
        border-color: $color-primary-muted;
        background-color: $color-primary-inverse;
        color: $color-primary-muted;
    }
}

.btn-meter {
    position: relative;

    > .btn-meter-label {
        z-index: 2;
        position: relative;
        color: $color-primary;
    }

    > .btn-meter-gauge {
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0%;
        background-color: #f00;
        height: 3px;
        transition: width 150ms;
        z-index: 1;
    }

    > .btn-meter-timer {
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0%;
        background-color: #f00;
        transition: width 150ms;
        background-color: $color-primary-lightened;
        top: 0;
        height: 100%;
    }
}

.btn-interval {
    > .btn-meter-gauge {
        background-color: $color-primary-muted;
        top: 0;
        height: 100%;
    }
}

.btn-enemy {
    > .btn-meter-gauge {
    }
}
