ul.directional-controls {
    position: relative;
    height: 92px;
    width: 140px;
    margin: 10px auto 0;

    > li {
        margin: 0;

        &.direction-n {
            > a {
                top: 0;
                left: 50%;
                margin-left: -22px;
            }
        }

        &.direction-s {
            > a {
                bottom: 0;
                left: 50%;
                margin-left: -22px;
            }
        }

        &.direction-e {
            > a {
                right: 0;
                bottom: 0;
            }
        }

        &.direction-w {
            > a {
                left: 0;
                bottom: 0;
            }
        }

        > a {
            position: absolute;
            width: 44px;
            height: 44px;
            display: block;
            padding: 0;
            line-height: 42px;
            text-align: center;
            text-transform: uppercase;
            margin: 0;
        }
    }
}
