.row {
    margin-left: -5px;
    margin-right: -5px;
    height: 100%;

    > div {
        min-height: 1px;
        height: 100%;
        padding-left: 5px;
        padding-right: 5px;
        float: left;
    }

    .col-sm-6 {
        width: 50%;
    }

    &:after,
    &:before {
        display: table;
        content: " ";
        clear:both;
    }
}
