#header {
    background-color: $color-primary;
    color: $color-primary-inverse;
    height: 20px;
    padding-left: 20px;
    padding-right: 20px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    .navbar-brand {
        float: left;
        margin: 0 20px 0 0;
    }

    .nav {
        float: left;

        li {
            display: inline-block;
            float: left;
            margin: 0;

            a {
                display: block;
                color: $color-primary-darkened;
                font-weight: bold;
                text-decoration: none;

                u {
                    text-decoration: underline;
                }
            }
        }
    }
}