#header {
    background-color: $color-primary;
    color: $color-primary-inverse;
    height: 36px;
    line-height: 36px;
    padding-left: 10px;
    padding-right: 10px;

    .navbar-title {
        text-align: center;
        white-space: nowrap;
        margin: 0 auto;
        position: absolute;
        display: block;
        width: 100%;
        left: 0;
        right: 0;
    }

    .nav {
        float: left;
        z-index: 1;
        position: relative;

        li {
            display: inline-block;
            float: left;
            margin: 0;

            a {
                display: block;
                color: $color-primary-inverse;
                text-decoration: none;

                &:before {
                    content: "< ";
                }

                u {
                    text-decoration: underline;
                }
            }
        }
    }
}
