ul.nav-showcase {
    margin-bottom: 10px;
    
    > li {
        > ul {
            margin: 0;
            padding: 0;

            > li {
                background-color: $color-primary-lightened;
                padding: 10px;
            }

            &.nav-showcase {
                background-color: $color-primary-lightened;
                padding: 10px;

                > li {
                    border: 0;
                    padding: 0;

                    > ul {
                        background-color: $color-primary-inverse;
                    }
                }
            }
        }
    }
}
