@import "_meyer-reset";
@import "_variables";

* {
    box-sizing: border-box;
}

body {
    background-color: $color-primary-inverse;
    color: $color-primary;
    font-family: monospace;
    font-size: 13px;
    line-height: 1.45;
    margin: 0;
    padding: 0;
}

a {
    color: $color-primary;

    &:hover,
    &:focus,
    &:active {
        color: $color-primary;
    }
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 10px;
}

ul {
    li {
        margin-bottom: 10px;

        > ul {
            margin-top: 10px;
            margin-left: 10px;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

p {
    margin-bottom: 10px;
}

.container {
    margin: 0 auto;
    max-width: 375px;
}

#game-pane {
    position: absolute;
    width: 100%;
    margin: 36px 0 46px;
    bottom: 0;
    top: 0;

    > .container {
        position: relative;
        height: 100%;
    }
}

#main {
    overflow: auto;
    height: 80%;
    position: absolute;
    padding: 10px;
    width: 100%;
}


@import "_common";
@import "_grid";
@import "_inventory";
@import "_showcase";
@import "_directional-controls";
@import "_modal";
@import "_utilities";
@import "_buttons";
@import "_minimap";
@import "_header";
@import "_log";
