<div class="vessel">
  <a class="btn" href ng-click="vesselCtrl.vessel.open()" ng-class="{ 'btn-muted': !vesselCtrl.vessel.items.length }">
      {{:: vesselCtrl.vessel.name }} <span ng-if="!vesselCtrl.vessel.items.length">(Empty)</span>
  </a>
  <div class="modal" ng-if="vesselCtrl.vessel.isOpen && vesselCtrl.vessel.items.length">
    <div class="container modal-container">
      <div class="modal-header">
        {{:: vesselCtrl.vessel.name }}
      </div>
      <div class="modal-body">
        <st-inventory vessel="vesselCtrl.vessel" actions="vesselCtrl.itemActions"></st-inventory>
      </div>
      <div class="modal-footer">
        <div class="row">
          <div class="col-sm-6">
            <a class="btn" href ng-click="vesselCtrl.takeAllItems()">Take all</a>
          </div>
          <div class="col-sm-6">
            <a class="btn" href ng-click="vesselCtrl.vessel.open()">Close</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
