<div class="vessel">
  <button class="btn" ng-click="vesselCtrl.open()" ng-class="{ 'btn-muted': !vesselCtrl.owner.items.length }">
      {{:: vesselCtrl.owner.name }}<span ng-if="!vesselCtrl.owner.items.length">&nbsp;(Empty)</span>
  </button>
  <div class="modal" ng-if="vesselCtrl.isOpen">
    <div class="container modal-container">
      <div class="modal-header">
        <button type="button" class="modal-header-btn" ng-click="vesselCtrl.toggleBackpack()" ng-if="vesselCtrl.isBackpackVisible">{{:: vesselCtrl.visitor.name }}</button>
        <span class="modal-title modal-header-btn current">{{ vesselCtrl.owner.name }}</span>
        <button type="button" class="modal-header-btn" ng-click="vesselCtrl.toggleBackpack()" ng-if="!vesselCtrl.isBackpackVisible">{{:: vesselCtrl.visitor.name }}</button>
      </div>
      <div class="modal-body">
        <st-inventory owner="vesselCtrl.owner" visitor="vesselCtrl.visitor" actions="vesselCtrl.itemActions"></st-inventory>
      </div>
      <div class="modal-footer">
        <div class="row">
          <div class="col-sm-6">
            <st-interval-button ng-if="!vesselCtrl.isBackpackVisible" label="Take All" label-running="Looting..." num-iterations="2" on-complete="vesselCtrl.takeAllItems"></st-interval-button>
          </div>
          <div class="col-sm-6">
            <button class="btn" ng-click="vesselCtrl.open()">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
