<div class="vessel">
  <a class="btn" href ng-click="vesselCtrl.open()" ng-class="{ 'btn-muted': !vesselCtrl.owner.items.length }">
      {{:: vesselCtrl.owner.name }} <span ng-if="!vesselCtrl.owner.items.length">(Empty)</span>
  </a>
  <div class="modal" ng-if="vesselCtrl.isOpen && vesselCtrl.owner.items.length">
    <div class="container modal-container">
      <div class="modal-header">
        {{:: vesselCtrl.owner.name }}
      </div>
      <div class="modal-body">
        <st-inventory items="vesselCtrl.owner.items" actions="vesselCtrl.itemActions"></st-inventory>
      </div>
      <div class="modal-footer">
        <div class="row">
          <div class="col-sm-6">
            <a class="btn" href ng-click="vesselCtrl.takeAllItems()">Take all</a>
          </div>
          <div class="col-sm-6">
            <a class="btn" href ng-click="vesselCtrl.isOpen = false">Close</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
