<div class="minimap-wrapper">
  <div class="dungeon-map">
    <div class="dungeon-map-floor-menu">
      <div class="dungeon-map-floor-menu-item" ng-repeat="floor in minimapCtrl.blueprint.floors" ng-class="{ 'text-muted': $index !== minimapCtrl.controls.floor }">F{{ $index + 1 }}</div>
    </div>
    <div class="dungeon-map-floor-container" ng-repeat="floor in minimapCtrl.blueprint.floors" ng-if="$index === minimapCtrl.controls.floor">
      <div id="dungeon-map-floor" class="hidden">
        <div class="dungeon-map-room" ng-repeat="room in floor.rooms" style="top: {{:: room.top }}px; left: {{:: room.left }}px; width: {{:: room.width }}px; height: {{:: room.height }}px" ng-class="{ selected: room._id === minimapCtrl.controls._id, 'visible': room.isScanned }">
          <div ng-repeat="door in ::room.doors" class="dungeon-map-door dungeon-map-door-{{:: door.position}}" ng-class="{ 'dungeon-map-ramp': door.isRamp, 'dungeon-map-exit': door.isExit }">
          </div>
        </div>
      </div>
    </div>
  </div>
  <ul class="directional-controls">
    <li ng-repeat="door in minimapCtrl.controls.doors" class="direction-{{:: door.position}}">
      <button ng-if="::door.roomId || door.isExit" class="btn" ng-click="structureCtrl.openDoor(door)">{{:: door.position }}</button>
      <button ng-if="::!door.roomId && !door.isExit" class="btn btn-disabled">{{:: door.position}}</button>
    </li>
  </ul>
</div>
