<!doctype html>
<html>
    <head>
        <title>STATION</title>
        <link rel="stylesheet" href="/css/app.min.css">
    </head>
    <body ng-app="{{ module }}">
        <st-header></st-header>
        <div class="container">
            {{{ body }}}
            <ui-view></ui-view>
        </div>
        <st-log></st-log>
        <script src="/js/app.js"></script>
    </body>
</html>
