<!doctype html>
<html>
    <head>
        <title>STATION</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/app.min.css">
    </head>
    <body ng-app="{{ module }}">
        <st-header></st-header>
        <div id="game-pane">
            <div class="container">
                <div id="main">
                    <ui-view></ui-view>
                </div>
                <st-log></st-log>
            </div>
        </div>
        <st-utilities></st-utilities>
        <script src="/js/app.js"></script>
    </body>
</html>
