<div>
  <ul class="nav-showcase" ng-if="inventoryCtrl.owner.items.length">
    <li ng-repeat="item in inventoryCtrl.owner.items">
      <table class="table">
        <tr>
          <td>
            <a href ng-click="inventoryCtrl.selectItem(item)">
              {{:: item.name }}<span ng-if="item.quantity > 1">&nbsp;({{:: item.quantity }})</span>
            </a>
          </td>
          <td>
            {{:: item.groupValue }}
          </td>
        </tr>
      </table>
      <ul ng-show="item.isSelected">
        <li>
          <p>{{:: item.description }}</p>
          <table class="table">
            <tr>
              <td>
                Value:
              </td>
              <td>
                {{:: item.value }}&nbsp;ea</span>
              </td>
            </tr>
            <tr>
              <td>
                Weight:
              </td>
              <td>
                {{:: item.weight }}&nbsp;ea
              </td>
            </tr>
          </table>
          <div ng-repeat="action in inventoryCtrl.actions track by $index">
            <a ng-repeat="(key, value) in action" class="btn" href ng-click="inventoryCtrl[value]($parent.$parent.$index)">{{ key }}</a>
          </div>
        </li>
      </ul>
    </li>
  </ul>
  <p ng-if="!inventoryCtrl.owner.items.length">
    (No items found.)
  </p>
</div>
