<div>
  Cogs: {{ inventoryCtrl.money }}
</div>
<table class="inventory-table" ng-if="inventoryCtrl.items.length">
    <thead>
      <tr>
        <th>
          Name
        </th>
        <th>
          Description
        </th>
        <th>
          Qty.
        </th>
        <th>
          Value
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in inventoryCtrl.items">
          <td>
            {{:: item.name }}
          </td>
          <td>
            {{:: item.description }}
          </td>
          <td>
            {{ item.quantity }}
          </td>
          <td>
            {{ item.groupValue }} ({{ item.value }}&nbsp;ea.)
          </td>
      </tr>
    </tbody>
</ul>
<div ng-if="!inventoryCtrl.items.length">
    (No items found.)
</div>
