<div class="page-header">
    <h1>{{:: locationCtrl.location.name }}</h1>
    <p class="lead">{{:: locationCtrl.location.description }}</p>
</div>
<ul class="nav-showcase">
    <li ng-repeat="structure in locationCtrl.location.structures">
        <a href ng-click="locationCtrl.selectStructure(structure)">{{:: structure.name }}</a>
        <ul ng-if="structure.isSelected">
            <li ng-repeat="entrance in structure.entrances">
                <p>{{:: structure.description }}</p>
                <a class="btn" href ng-click="structure.isSelected = false" ui-sref="structure({ locationId: locationCtrl.location._id, structureId: structure._id, roomId: entrance.roomId })">
                    Enter
                </a> <span class="text-muted">({{:: entrance.name }})</span>
            </li>
        </ul>
    </li>
    <li>
        <a ui-sref="map">Exit to Map...</a>
    </li>
</ul>
