<div ng-if="showRoom" class="game-pane">
    <div class="row-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{location.name}}</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-8">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5 class="panel-title">Map</h5>
                            </div>
                            <div class="panel-body">

                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div>Keys: 0</div>
                        <div>Loot: 100%</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row-8">
        <div class="panel panel-default has-room" ng-if="room">
            <div class="panel-heading">
                <h4 class="panel-title">{{room.name}}</h4>
            </div>
            <div class="panel-body">
                <div class="room-wrapper-outer">
                <div class="room-wrapper-inner">
                <div class="room-wrapper">
                    <div class="content">
                        <table class="room-controls-table">
                            <tr>
                                <td></td>
                                <td class="room-btn room-btn-top">
                                    <a href="#/region/{{location.regionId}}" class="btn btn-primary btn-block">Exit</a>
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="room-btn room-btn-left">
                                    <a href="" class="btn btn-primary btn-block"><span class="fa fa-arrow-left fa-icon-only"></span></a>
                                </td>
                                <td class="room-td">
                                    <div class="room">
                                        <div class="room-placements">
                                            <div ng-repeat="placement in room.placements" class="placement-button placement-button-{{placement.position}}">
                                                <button ng-if="placement.isVessel" class="btn btn-primary" type="button" ng-click="openVessel(placement.roomPlacementId)"><span class="fa fa-icon-only fa-archive"></span></button>
                                                <button ng-if="placement.isTrader" class="btn btn-primary" type="button" ng-click="openShop(placement.roomPlacementId)"><span class="fa fa-icon-only fa-male"></span></button>
                                                <button ng-if="placement.isEnemy" class="btn btn-primary" type="button" ng-click="openEnemy(placement.roomPlacementId)"><span class="fa fa-icon-only fa-crosshairs"></span></button>
                                            </div>
                                            <div class="placement-button placement-button-4">
                                                <button class="btn btn-default" type="button" ng-click=""><span class="fa fa-icon-only fa-question"></span></button>
                                            </div>
                                        </div>
                                        <!--
                                        <table class="room-table">
                                            <tbody>
                                                <tr>
                                                    <td><button class="btn btn-primary" type="button" ng-click="openVessel(1)"><span class="fa fa-icon-only fa-search"></span></button></td>
                                                    <td><button class="btn btn-primary" type="button"><span class="fa fa-icon-only fa-search"></span></button></td>
                                                    <td><button class="btn btn-primary" type="button"><span class="fa fa-icon-only fa-search"></span></button></td>
                                                </tr>
                                                <tr>
                                                    <td><button class="btn btn-primary" type="button"><span class="fa fa-icon-only fa-search"></span></button></td>
                                                    <td><button class="btn btn-primary" type="button"><span class="fa fa-icon-only fa-search"></span></button></td>
                                                    <td><button class="btn btn-primary" type="button"><span class="fa fa-icon-only fa-search"></span></button></td>
                                                </tr>
                                                <tr>
                                                    <td><button class="btn btn-primary" type="button"><span class="fa fa-icon-only fa-search"></span></button></td>
                                                    <td><button class="btn btn-primary" type="button"><span class="fa fa-icon-only fa-search"></span></button></td>
                                                    <td><button class="btn btn-primary" type="button"><span class="fa fa-icon-only fa-search"></span></button></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        -->
                                    </div>
                                </td>
                                <td class="room-btn room-btn-right">
                                    <a href="" class="btn btn-primary btn-block"><span class="fa fa-arrow-right fa-icon-only"></span></a>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td class="room-btn room-btn-bottom">
                                    <a href="" class="btn btn-primary btn-block"><span class="fa fa-arrow-down fa-icon-only"></span></a>
                                </td>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

<st-vessel ng-if="showVessel" room-placement-id="roomPlacementId" action="closeVessel"></st-vessel>

<st-shop ng-if="showShop" room-placement-id="roomPlacementId" action="closeShop"></st-shop>
